.content-wrapper{
  background-image: url('../img/photo4.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
    padding: 10px !important;
    color: floralwhite;
}

.errors{
    background-color:red;
    font-weight: bolder;
}
.card-body{
    color: black;
}
.table-container{
  background: floralwhite;
  padding: 2%;
  overflow: hidden;
  border-radius: 15px;
  margin: 10px 0;
  box-shadow: 0 0 10px #ccc;
  color: black;
}

.table-container tr:hover{
    border: 3px solid;
}
.table-container tbody{
    font-weight: 500;
}
.hide{
    display:none;
}

.selectedForm{
    font-family: "Raleway", sans-serif;
}

#new-form-title{
    padding-top:2%;
    padding-bottom:2%;
    margin-bottom: 0;
    background-color: #334155;
    border-radius: 10px;
    color: #ffffff;
}

.form-creation{
    background-color:floralwhite; 
    padding:2%; 
    border-radius: 15px;
    color: black;
}

.user-description{
    text-align: center;
    color:royalblue;
}
#formContainer {
    background-color: white;
    margin-bottom: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    padding: 20px;
    color: black;
}

#scrollbtn {
    display: inline-block;
    background-color: #007bff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
.icon-top {
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#scrollbtn:hover {
    cursor: pointer;
    background-color: #333;
}
#scrollbtn:active {
    background-color: #555;
}
#scrollbtn.show {
    opacity: 1;
    visibility: visible;
}
  