.content-wrapper{
  background-image: url('../img/photo4.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.table-container{
  background: #34495E;
  padding: 2%;
  overflow: hidden;
  border-radius: 15px;
  color: #FFFAFA;
}

.subrows tr{
  color:#FFC107;
}
.hide{
    display:none;
}

.selectedForm{
    font-family: "Raleway", sans-serif;
}

#new-form-title{
    padding-top:3%;
    padding-bottom:3%;
    text-align: center;
    background-color: #334155;
    border-radius: 10px;
    color: #ffffff;
}

#formContainer {
    background-color: white;
    margin-bottom: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    padding: 20px;
}

#scrollbtn {
    display: inline-block;
    background-color: #34495E;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
.icon-top {
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#scrollbtn:hover {
    cursor: pointer;
    background-color: #333;
}
#scrollbtn:active {
    background-color: #555;
}
#scrollbtn.show {
    opacity: 1;
    visibility: visible;
}
  